@model ShoppingMall.ViewModels.EmployeesInShopFilterViewModel

@{
    ViewData["Title"] = "Вработени";
}

<h1>@ViewData["ShopName"]</h1>
<h4>Вработени</h4>

<form asp-action="Index">
    <p>
        <select asp-for="SelectListId" asp-items="Model.SelectList">
            <option value="">Сите</option>
        </select>
        <input type="submit" value="Филтрирај"/>
    </p>
</form>

<div class="row">
    @foreach (var item in Model.Employments)
    {
        <div class="card" style="width:550px    ">
            <div class="card-body" style="text-align:center;">
                <div class="card-img" style="text-align:center"><img src="@item.Employee.PictureUrl" width="500" height="334" style="padding-bottom:10px" /></div>
                <h5 style="color:darkolivegreen"><b>@item.Employee.FullName</b></h5>
                @if (item.FinishDate == null)
                {
                    string[] date = item.StartDate.ToString().Split('/');
                    <p>@date[2].Substring(0, 4) - </p>
                }
                else
                {
                    string[] date1 = item.StartDate.ToString().Split('/');
                    string[] date2 = item.FinishDate.ToString().Split('/');
                    <p>@date1[2].Substring(0, 4) - @date2[2].Substring(0, 4)</p>
                }
                @if (item.Comment != null)
                {
                    <p><i>"@item.Comment"</i></p>
                }
                <p><b>@item.Employee.Email</b></p>
                @if (item.Employee.Shops.Count() != 1)
                {
                    <p>
                        Работи и во: |
                        @foreach (var shop in item.Employee.Shops)
                        {
                            if (shop.Shop == item.Shop || shop.FinishDate != null)
                                continue;
                            <a asp-controller="Shops" asp-action="Details" asp-route-id="@shop.ShopId" style="color:chocolate">@shop.Shop.Name</a> <label> | </label>
                        }
                    </p>
                }

            </div>
        </div>
    }
</div>

<a asp-controller="Shops" asp-action="Details" asp-route-id="@ViewData["ShopId"]" style="color:chocolate"><b>Назад</b></a> |
<a asp-controller="Shops" asp-action="EditEmployees" asp-route-id="@ViewData["ShopId"]" style="color:chocolate"><b>Уреди</b></a>


