@model IEnumerable<ShoppingMall.Models.Employment>

@{
    ViewData["Title"] = "Вработени";
}

<h1>@Model.FirstOrDefault().Shop.Name</h1>
<h4>Вработени</h4>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="card" style="width:550px    ">
            <div class="card-body" style="text-align:center;">
                <div class="card-img" style="text-align:center"><img src="@item.Employee.PictureUrl" width="500" height="334" style="padding-bottom:10px" /></div>
                <h5 style="color:darkolivegreen"><b>@item.Employee.FullName</b></h5>
                @if (item.FinishDate == null)
                {
                    string[] date = item.StartDate.ToString().Split('/');
                    <p>@date[2].Substring(0, 4) - </p>
                }
                else
                {
                    string[] date1 = item.StartDate.ToString().Split('/');
                    string[] date2 = item.StartDate.ToString().Split('/');
                    <p>@date1[2].Substring(0, 4) - @date2[2].Substring(0, 4)</p>
                }
                @if (item.Comment != null)
                {
                    <p><i>"@item.Comment"</i></p>
                }
                <p><b>@item.Employee.Email</b></p>
                @if (item.Employee.Shops.Count() != 1)
                {
                    int x = item.Employee.Shops.Count();
                    int y = 0;
                    <p>Работи и во:
                    @foreach (var shop in item.Employee.Shops)
                    {
                        y++;
                        if (shop.Shop == item.Shop)
                            continue;
                        <a asp-controller="Shops" asp-action="Details" asp-route-id="@shop.ShopId" style="color:chocolate">
                            @shop.Shop.Name</a>@if (y != x) {<label>, </label> }
                        }
                    </p>
                }

            </div>
        </div>
    }
</div>

<a asp-controller="Shops" asp-action="Details" asp-route-id="@Model.FirstOrDefault().ShopId" style="color:chocolate"><b>Назад</b></a>

