@model ShoppingMall.ViewModels.EmploymentsFilterViewModel

@{
    ViewData["Title"] = "Вработувања";
}

<h1>Вработувања</h1>

<p>
    <a asp-action="Create" class="admin">Креирај</a>
</p>

<form asp-action="Index">
    <p>
        Вработен: <select asp-for="EmployeeId" asp-items="Model.Employees">
            <option value="">Сите</option>
        </select>
        Продавница: <select asp-for="ShopId" asp-items="Model.Shops">
            <option value="">Сите</option>
        </select>
        <input type="submit" value="Филтрирај"/>
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employments[0].EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employments[0].ShopId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employments[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employments[0].FinishDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Employments) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shop.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinishDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="admin">Уреди</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="admin">Избриши</a>
            </td>
        </tr>
}
    </tbody>
</table>
