@model ShoppingMall.Models.Application

@{
    ViewData["Title"] = "Избриши апликација";
}

<h2>Избриши апликација</h2>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CVUrl)
        </dt>
        <dd class="col-sm-10">
            <a href="@("/cvs/" + Model.CVUrl)" target="_blank">
                @Model.CVUrl
            </a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShopId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shop.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApplicationDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Избриши" class="btn btn-danger" /> |
        <a asp-action="Index" class="admin">Назад</a>
    </form>
</div>
