@model ShoppingMall.ViewModels.ApplicationsFilterViewModel

@{
    ViewData["Title"] = "Апликации";
}

<h1>Апликации</h1>

<form asp-action="Index">
    <p>
        <select asp-for="SelectedSort" asp-items="Model.Sorts">
        </select>
        <input type="submit" value="Сортирај" />
    </p>
    <p>
        Продавница: <select asp-for="ShopId" asp-items="Model.Shops">
            <option value="">Сите</option>
        </select>
        <input type="submit" value="Филтрирај" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Applications[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Applications[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Applications[0].CVUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Applications[0].ShopId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Applications[0].ApplicationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Applications) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                <a href="@("/applicationCVs/" + item.CVUrl)" target="_blank" class="admin">
                    @item.CVUrl
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shop.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationDate)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id" class="admin">Избриши</a>
            </td>
        </tr>
}
    </tbody>
</table>
