@model ShoppingMall.Models.Shop

@{
    ViewData["Title"] = Model.Name;
}

<h1>@Model.Name</h1>
<h4>@Model.Subcategory.Category.Name  / @Model.Subcategory.Name</h4>
<hr />

<div>
    <div class="card-columns">
        <div class="card" style="transform:none;box-shadow:none">
            <div class="card-img" style="text-align:center;opacity:1"><img src="@Model.LogoUrl" /></div>
            <div class="card-body" style="text-align:center;height:164px">
                <p><b>@Html.DisplayNameFor(model => model.Location): </b>@Model.Location</p>
                <p><b>@Html.DisplayNameFor(model => model.WorkingHours): </b>@Model.WorkingHours</p>
                <p><b>@Html.DisplayNameFor(model => model.TelephoneNumber): </b>@Model.TelephoneNumber</p>
                <p><b>@Html.DisplayNameFor(model => model.Email): </b>@Model.Email</p>
            </div>
        </div>
        <div class="card" style="transform:none;box-shadow:none;border:none">
            <div class="card-body" style="text-align:justify;height:460px;width:715px;background:#ECECEC">
                <div class="card-img" style="text-align:center;opacity:1"><img src="@Model.ImageUrl" width="675" height="420" /></div>
            </div>
            <p style="width:712px;text-align:justify">@Model.Description</p>
            <a asp-action="Index" asp-route-id="@Model.Subcategory.Category.Id" style="color:chocolate"><b>Назад</b></a>
        </div>
    </div>
</div>
